.mt-0 { margin-top: 0; }
.mt-8 { margin-top: 8px; }
.mt-16 { margin-top: 16px; }

.pb-ex { padding-bottom: 10rem; }

.mb-0 { margin-bottom: 0px; }
.mb-8 { margin-bottom: 8px; }
.mb-16 { margin-bottom: 16px; }

.ml-8 { margin-left: 8px; }

.w-100 { width: 100%; }

.text-center { text-align: center; }
.text-right { text-align: right; }

.font-small { font-size: var(--font-sm); }
.font-medium { font-size: var(--font-md); }
.font-large { font-size: var(--font-lg); }

.score { font-family: "JetBrains Mono", monospace; }

.hidden { visibility: hidden; }
.display-none { display: none; }

.no-wrap { white-space: nowrap; }

.border-bottom { border-bottom: 1px solid var(--color-gray-300); }

